body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #f8f9fa;
}

section {
    margin-top: 50px;
}

#skills .row div {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

footer {
    margin-top: 50px;
}
